<% if flash[:message] %>
<div class="alert alert-danger">
  <%=flash[:message]%>
</div>
<% end %>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" placeholder="Your username">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Your password">
  <input type="submit" value="Login">
</form>
